@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,400;1,500;1,700&display=swap");

:root {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  --bg-color: #001529;
  --footer-height: 100px;
  --header-height: 80px;
  --text-primary: #000;
  --heading-primary: #1890ff;
  --heading-primary-dark: #0071bd;
  --bgPrimary: #fff;
  --bgSecondary: #f9f9f9;
  --pink: #0071bd;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
}
input[type="checkbox"] {
  margin-right: 5px;
}
input:focus {
  outline: none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
.link:hover {
  cursor: pointer;
  color: var(--pink) !important;
}
.icon {
  margin-right: 10px;
}
.price {
  transition: color 1s;
}
.incText {
  color: green;
}
.decText {
  color: red;
}
h1,
h2,
h3 {
  font-weight: 500;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.centerVer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
a:hover {
  color: var(--pink) !important;
}
.mainTitle {
  font-weight: 500;
  color: var(--heading-primary);
}
.mainTitle:hover {
  color: var(--heading-primary-dark);
}
/* CSS for header on small Screens */
#top-bar {
  padding: 5px 5px 5px 15px;
  display: none;
  background-color: var(--bg-color);
  /* height: var(--header-height); */
  width: 100%;
  position: relative;
  /* position: absolute;
  top: 0;
  left: 0; */
}
#top-bar .link {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
/* End */
main {
  display: flex;
  width: 100%;
  min-height: calc(100vh - var(--footer-height));
}

/* CSS for left navpane */
#left-pane {
  flex: 0 0 auto;
  width: 280px;
  background-color: var(--bg-color);
  color: #d9d9d9;
  padding: 10px;
  overflow-x: hidden;
}
/* End */

/* CSS for imgTextBox */
.imgTxtBox {
  display: block;
  margin: 8px;
  position: relative;
  max-height: 60px;
  color: var(--heading-primary);
}
.imgTxtBox img {
  width: 40px;
}
.imgTxtBox h2,
.imgTxtBox h1,
.imgTxtBox h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 15px;
  display: inline-block;
}
.imgTxtBox:hover {
  cursor: pointer;
}
.imgTxtBox:visited {
  color: inherit;
}
/* End */

/* CSS for Navlist */
.Navlinks {
  margin: 10px;
  list-style: none;
  position: relative;
  top: 15px;
  left: 15px;
  margin-bottom: 50px;
}
.Navlinks li {
  margin-top: 30px;
  margin-bottom: 30px;
}
.Navlinks a {
  color: gray;
  text-decoration: none;
}
/* End */

/* CSS for options */
.option-list {
  list-style: none;
  margin: 10px;
  position: relative;
  top: 5px;
  left: 15px;
}
.option-list li {
  margin-top: 25px;
  margin-bottom: 25px;
}
.options {
  color: grey;
  border-top: 1px solid grey;
}

.options button,
.link {
  font-family: inherit;
  padding: 5px 5px 5px 25px;
  position: relative;
  font-size: medium;
  background-color: inherit;
  border: none;
  color: grey;
}
.options button svg,
.link svg {
  position: absolute;
  left: -2px;
  top: 50%;
  transform: translateY(-50%);
}
.invisList {
  display: none;
}
.visList {
  display: block;
}
.butToggle {
  position: relative;
}
.optList {
  transition: all 0.2s;
  color: inherit;
  z-index: 2;
  position: absolute;
  left: 25px;
  padding-bottom: 3px;
}
.optList input[type="checkbox"] {
  transform: translateY(1px);
  margin: 0;
  margin-right: 5px;
}
.optList input {
  font-family: inherit;
  margin-top: 8px;
  padding: 4px;
}
.optList button,
.link {
  color: white;
}
.link:hover,
.optList button:hover {
  color: var(--pink);
  cursor: pointer;
}

.link:disabled,
.optList button:disabled {
  color: grey !important;
  cursor: default;
}
/* End */

/* CSS for footer */
footer {
  position: relative;
  text-align: center;
  color: #d9d9d9;
  font-weight: 300;
  padding: 10px;
  height: var(--footer-height);
  background-color: var(--bg-color);
  width: 100%;
}
footer h1,
footer h2,
footer h3 {
  font-weight: 300;
}
footer p {
  margin: 10px;
  font-size: x-small;
}
/* End */

#content {
  padding: 10px;
  padding-top: 20px;
}
#boxArea {
  text-transform: capitalize;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
/* CSS for crytpBox */
.cryptoBox {
  margin: 10px;
  margin-bottom: 30px;
  padding: 10px;
  width: 200px;
  /* background-color: var(--bg-color); */
}
.cryptoBox h2 {
  font-weight: 400;
  font-size: large;
}
.cryptoBox p {
  margin-top: 10px;
  font-size: small;
}
/* End */
@media screen and (max-width: 800px) {
  #content {
    padding-left: 20px;
  }
  /* imgTextBox width (fit-content doesnt work) */
  .imgTxtBox {
    width: 225px;
  }
  #left-pane {
    display: none;
    position: absolute;
    /* left: 100%; */
    top: calc(var(--header-height) - 30px);
    border-radius: 10px;
  }
  #left-pane .imgTxtBox {
    display: none;
  }
  #left-pane .Navlinks li:nth-child(1) {
    margin-top: 0;
  }
  .option-list {
    margin: 0;
    left: 25px;
    top: 0;
  }
  /* If option list is the last list in the left-pane */
  .option-list li:nth-last-child(1) {
    margin-bottom: 15px;
  }
  /* End */
  #top-bar {
    display: block;
  }
}

.footer {
  background-color: #001529;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}
